@model Project02_MovieWebsite.Models.Movies

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}


<h2>@Model.Title</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>MovieID</th>
        <td>@Model.MovieID</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <th>Genre</th>
        <td>@Model.Genres.Name</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Release Year</th>
        <td>@Model.ReleaseYear.Value.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <th>Duration</th>
        <td>@Model.Duration</td>
    </tr>
    <tr>
        <th>Rating</th>
        <td>@Model.Rating</td>
    </tr>
</table>
<a class="btn btn-outline-info" href="/Movies/Index">Back to list</a>
@Html.ActionLink("Edit", "Edit", new { id = Model.MovieID, Controller = "Movies" }, new { @class = "btn btn-outline-warning" })
@Html.ActionLink("Delete", "Delete", new { id = Model.MovieID, Controller = "Movies" }, new { @class = "btn btn-outline-danger" })