@model Project02_MovieWebsite.Models.Movies

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Edit</h2>

<form action="/Movies/Edit/@Model.MovieID" method="post">
    <input type="hidden" name="MovieID" value="@Model.MovieID" />
    <div class="row">
        <div class="col-md-6">
            <label for="Title">Title</label>
            <input type="text"
                   class="form-control"
                   id="Title"
                   name="Title"
                   value="@Model.Title"
                   placeholder="Title" />
        </div>
        <div class="col-md-6">
            <label for="GenreID">Genre</label>
            <select class="form-control" id="GenreID" name="GenreID">
                @foreach (var gen in @ViewBag.Genres)
                {
                    if (gen.GenreID == Model.GenreID)
                    {
                        <option value="@gen.GenreID" selected>@gen.Name</option>
                    }
                    else
                    {
                        <option value="@gen.GenreID">@gen.Name</option>
                    }

                }
            </select>
        </div>
        <div class="col-md-6">
            <label for="Description">Description</label>
            <input type="text"
                   class="form-control"
                   id="Description"
                   name="Description"
                   value="@Model.Description"
                   placeholder="Description" />
        </div>
        <div class="col-md-6">
            <label for="ReleaseYear">Release Year</label>
            <input type="date"
                   class="form-control"
                   id="ReleaseYear"
                   name="ReleaseYear"
                   value="@Model.ReleaseYear.Value.ToString("yyyy-MM-dd")"
                   placeholder="Release Year" />
        </div>
        <div class="col-md-6">
            <label for="Duration">Duration</label>
            <input type="text"
                   class="form-control"
                   id="Duration"
                   name="Duration"
                   value="@Model.Duration"
                   placeholder="Duration" />
        </div>
        <div class="col-md-6">
            <label for="VideoURL">VideoURL</label>
            <input type="text"
                   class="form-control"
                   id="VideoURL"
                   name="VideoURL"
                   value="@Model.VideoURL"
                   placeholder="VideoURL" />
        </div>
        <div class="col-md-6">
            <label for="ThumbnailURL">ThumbnailURL</label>
            <input type="text"
                   class="form-control"
                   id="ThumbnailURL"
                   name="ThumbnailURL"
                   value="@Model.ThumbnailURL"
                   placeholder="ThumbnailURL" />
        </div>
        <div class="col-md-6">
            <label for="Rating">Rating</label>
            <input type="text"
                   class="form-control"
                   id="Rating"
                   name="Rating"
                   value="@Model.Rating"
                   placeholder="Rating" />
        </div>
    </div>
    <div class="mt-3">
        <a href="/Movies/Index" class="btn btn-outline-info">Back to list</a>
        <button type="submit" class="btn btn-success ms-2">Save</button>
    </div>
</form>
