@model List<Project02_MovieWebsite.Models.Movies>

@{
    ViewBag.Title = "Danh sách phim";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@{
    <style>
        a {
            text-decoration: none;
            color: black;
            transition: 0.25s ease;
        }

            a:hover {
                color: red;
            }

        th, td {
            text-align: center;
            vertical-align: middle;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<form class="d-flex flex-row align-items-center flex-wrap" action="/Movies/Index">
    <label for="search" class="mx-2 my-1 fw-bolder">Search</label>
    <input type="search"
           class="form-control w-auto"
           id="search"
           name="search"
           value="@ViewBag.Search"
           placeholder="Search" />
    <button type="submit" class="btn btn-primary mx-2">Go !</button>
    <a href="/Movies/Create" class="btn btn-outline-dark">Create</a>
</form>

<table class="table table-bordered my-4">
    <tr>
        <th>Title</th>
        <th>Genre</th>
        <th>Description</th>
        <th>Release Year</th>
        <th>Duration</th>
        <th>Rating</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.ActionLink(Html.DisplayFor(i => item.Title).ToString(), "Detail", new { id = item.MovieID, Controller = "Movies" })
            </th>
            <td>@item.Genres.Name</td>
            <td>@item.Description</td>
            <td>@item.ReleaseYear.Value.ToString("dd/MM/yyyy")</td>
            <td>@item.Duration</td>
            <td>@item.Rating</td>
        </tr>
    }
    <tr>
        <td colspan="7">
            @{
                int PrevPage = ViewBag.Page - 1;
                if (PrevPage <= 0)
                {
                    PrevPage = 1;
                }
                int NextPage = ViewBag.Page + 1;
                if (NextPage > ViewBag.NumOfPages)
                {
                    NextPage = ViewBag.NumOfPages;
                }
            }
            <ul class="pagination justify-content-center mt-3">
                <li class="page-item">
                    <a href="/Movies/Index?page=@PrevPage" class="page-link">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NumOfPages; i++)
                {
                    if (i + 1 == ViewBag.Page)
                    {
                        <li class="page-item active">
                            <a href="/Movies/Index?page=@(i+1)" class="page-link">@(i+1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a href="/Movies/Index?page=@(i+1)" class="page-link">@(i+1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a href="/Movies/Index?page=@NextPage" class="page-link">Next</a>
                </li>
            </ul>
        </td>
    </tr>
</table>