<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=account_circle" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=star_half" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=search" />
    <style>
        body {
            background: linear-gradient(45deg, #433878, #7E60BF,#E4B1F0,#FFE1FF);
        }

        input {
            outline: none;
        }

        tr, th, td {
            background: linear-gradient(225deg, #7E60BF,#FFE1FF);
        }

        .navigator {
            background-color: #433878;
            height: 10vh;
            top: 0;
            position: sticky;
            z-index: 1000;
        }

        ul li {
            position: relative;
            display: inline-block;
        }

            ul li::before {
                content: "";
                position: absolute;
                bottom: 0;
                height: 5px;
                width: 0;
                background-color: #7E60BF;
                transition: 0.3s ease-in-out;
            }

            ul li:hover::before {
                width: 100%;
                right:0;
            }

        .nav-link {
            font-size: 15px;
            color: white;
        }

            .nav-link:hover {
                color: #7E60BF;
            }

        .search {
            width: max-content;
            padding: 5px;
            background: #f6f6f6;
            border-radius: 9999px;
        }

        .search-input {
            outline: none;
        }
    </style>
</head>
<body>
    <nav class="navigator navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-5">
        @*navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark*@
        <div class="container">
            @Html.ActionLink("DDoe Movies", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Danh sách thể loại", "Index", "Genres", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Danh sách phim", "Index", "Movies", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>
                        <a href="/Movies/Create" class="nav-link">Create</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex w-60 justify-content-end">
                <form class="search d-flex flex-row align-items-center flex-wrap" action="/Movies/Index">
                    <button type="submit" class="border-0 bg-transparent">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" /></svg>
                    </button>
                    <input type="search"
                           class="search-input bg-transparent border-0 ms-1"
                           id="search"
                           name="search"
                           value="@ViewBag.Search"
                           placeholder="Search" />
                </form>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="d-inline-flex align-items-center justify-center">
                    <div class="nav-user d-flex" style="color:red ; font-weight:bold">
                        <a href="/Account/ProfileUser" class="align-items-center d-inline-flex align-items-center">
                            <span class="material-symbols-outlined me-1">
                                account_circle
                            </span>@User.Identity.Name
                        </a>
                    </div>
                    <div class="nav-user" style="color:white ; font-weight:bold">
                        <a href="/Account/Logout">Logout</a>
                    </div>
                </div>
            }
            else
            {
                <div class="nav-user" style="color:white ; font-weight:bold">
                    <a href="/Account/Register">Register</a>
                </div>
                <div class="nav-user" style="color:white ; font-weight:bold">
                    <a href="/Account/Login">Login</a>
                </div>
            }
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
